html {
  background-color: #85BDA6;
}

#header {
  text-align: center;
  font-size: 35px;
  padding-top: 80px;
  padding-bottom: 0px;
  
}

#header-2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#header-3 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 50px;
}

#header-4 {
  text-align: center;
  font-size: 22px;
}

#header-5 {
  text-align: center;
  font-size: 22px;
  padding-top: 20px;
}

#header-6 {
  text-align: center;
  font-size: 30px;
  margin:0;
  padding:0;
  padding-top: 50px;
 
}

#pricing {
  padding-bottom: 50px;
  padding-top: 20px;
}

p {
  font-size: 19px;
  line-height: 1.7;
  text-align: center;
}

#video {
   margin-left: auto;
   margin-right: auto;
   display: block
   
}

#email {
  display: inline-block;
  
}

#submit {
  display: inline-block;
}

.input {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

#email {
  width: 20%;
  height: 30px;
  
}

#submit {
  height: 30px;
}

#nav-bar {
position: fixed;
top: 0;
right: 0;
background-color: grey;
padding-bottom: 8px;
width: 100%;
opacity: 0.5;

}

.nav-link {
font-size: 23px;
padding-top: 10px;
text-decoration: none;
display: flex;
justify-content: end;
display: inline;
right: 0;
color: white;
opacity: 1;
display: inline-block !important;
padding: 0.5rem 0 !important;
  
}

.nav-link:hover {
  text-decoration: none;
}

.bi bi-truck {

    display: block;
    margin: auto;    
}

.bi bi-emoji-smile {
  
}

.about-us {
  padding-bottom: 50px;
}

.long-distance {
  padding-bottom: 50px;
}

#header-img {
padding-top: 20px;

}

@media (min-width: 500px;) {
  p {
    font-size: 18px;
  }
}